@media (max-width: 1239px) {
    .center {
        padding-left: calc(50% - 393px);
        padding-right: calc(50% - 393px);
    }
    .for__item {
        height: 265px;
    }
    .logotype {
        display: none;
    }
    .purchase {
        row-gap: 64px;
        column-gap: none;

    }
}
